@model MvcMusicStore.Model.Album
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<dl class="dl-horizontal">
    <dt>Genre:</dt>
    <dd>@Model.Genre.Name</dd>
    <dt>Artist:</dt>
    <dd>@Model.Artist.Name</dd>
    <dt>Title:</dt>
    <dd>@Model.Title</dd>
    <dt>Price:</dt>
    <dd>@Model.Price</dd>
</dl>
