@model MvcMusicStore.Model.Genre
@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Genre : @Model.Name</h2>
<ul class="list-group">

    @foreach (var album in Model.Albums)
    {
        <li class="list-group-item">
            @Html.ActionLink(album.Title, "Details", new { id = album.AlbumId })
        </li>
    }
</ul>
